@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    font-weight: bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway;
    font-weight: italic;
    src: url(../fonts/Raleway-Italic.ttf);
}

@font-face {
    font-family: Raleway;
    font-weight: medium;
    src: url(../fonts/Raleway-Medium.ttf);
}

.root {
    -fx-font-family: Raleway;
    -fx-font-size: 14;
}

Button, ComboBox, ToggleButton, DatePicker, ColorPicker, .menu-item, .menu-button {
    -fx-cursor: hand;
}

TableView:focused, ListView:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    //-fx-background-radius: 5, 4, 3;
}

.lEmphase {
    -fx-font-weight: bold;
}

.lItalic {
    -fx-font-style: italic;
}

.editionPane {
    -fx-background-color: rgba(0,0,0,0.5);
}

.editionBox {
    -fx-background-color: rgba(255,255,255,1);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.listViewCell:hover {
    -fx-cursor: hand;
}

.listViewCell > .nom {
    -fx-font-weight: bold;
}

.listViewCell > .domaine {
    -fx-font-style: italic;
    -fx-text-fill: #5f5f5f;
}

.titre {
    -fx-font-size: 42;
}

#detailsIdleVue {
    -fx-background-color: white;
}

#detailsIdleVue > .titre {
    -fx-font-size: 28;
}

.boutonMod {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.boutonMod:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
}

.filtreTF {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-cursor: text;
}

.bpEtatA {
    -fx-background-color: #2fb254;
}

.bpEtatA > .label, .bpEtatNA > .label {
    -fx-text-fill: beige;
}

.bpEtatNA {
    -fx-background-color: #ac2925;
    -fx-cursor: hand;
}